
<h2>Danh sách</h2>

<div class="row p-2">
    <div class="col-3">
        <div class="form-group">
            <label for="">Hero name:</label>
            <input 
            [value]="idEdit.name"
            (keyup)="addHeroName($event)"
             type="text" class="form-control">
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <img [src]="idEdit.img" alt="">
            </div>
        </div>
        <div class="form-group">
            <label for="">Image:</label>
            <input
            [value]="idEdit.img"
            (keyup)="addHeroImg($event)"
             type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Gender:</label>
            <select class="form-control" 
                [value]="idEdit.gender"
                (change)="addHeroGender($event)"
                >
                <option value="1">Nam</option>
                <option value="0">Nữ</option>
            </select>
        </div>
        <div class="text-center">
            <button (click)="addNewHero()" class="btn btn-sm btn-success m-2">Thêm</button>
            <button (click)="updateHero()" class="btn btn-sm btn-success">Update</button>
        </div>
    </div>
</div>

<!-- Danh sách các heros -->
<div class="row">
    <app-hero-detail *ngFor="let h of heros"
        [heroData]="h"
        (oneRemoveEvent) = "testEvent()"
    ></app-hero-detail>
<!-- </div>
<ul>
    <li *ngFor="let h of heros" >
        <img [src]="h.img" width="70px" alt="">
        {{h.id}} - {{h.name}} - 
        <span *ngIf="h.gender==1">Nam</span>
        <span *ngIf="h.gender==0">Nữ</span>
        -- 
        <button (click)="removeHero(h)" class="btn btn-sm btn-primary">Xóa</button>
        <button (click)="editHero(h)" class="btn btn-sm btn-success mx-2">Sửa</button>
    </li>
</ul> -->